/* Responsive menu */
.nav-menu{
  background-color: #4DC0B9;
}

.active{
  text-decoration: underline;
}

ul.topnav #logo{
  margin-top: 10px !important;
}
ul.topnav {
  width: 70%;
  list-style-type: none;
  margin: 0 auto 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #4DC0B9;
  min-height: 64px;
  font-family: "Source Sans Pro", sans-serif;
}

ul.topnav div{
  margin-top: 11px;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #FFF;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

ul.topnav li a:hover {text-decoration: underline;}
ul.topnav li.icon a:hover {text-decoration: none;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav div li {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive div li.icon {
    position: absolute;
    right: 0;
    top: 0;
    float: right;
  }
  ul.topnav.responsive div {
    margin-top: 70px;
    float: none;
    text-align: center;
    display: block;
  }
  ul.topnav.responsive div li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive div li a {
    display: block;
    text-align: left;
  }
}

@media all and (max-width:800px){
  ul.topnav {
    width: 100%;
  }
}
